@import url('__link/feynman__link.css');
@import url('__picture/feynman__picture.css');
@import url('__subtitle/feynman__subtitle.css');

.feynman {
    min-height: 890px;
    margin: 0 auto;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    background-image: url('../../images/feynman.png');
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
    background-size: 867px 637px;
  }